/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

/* Tailwind Css & DaisyUi */
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #6366F1;
    --color-secondary: #101828;
    --color-accent: #6B7280;
}

.active{
    background-color:#6366F1 ;
    color: white;
}